# Ignore outputs directory
outputs/

# Ignore Python cached files
__pycache__/
*.pyc

# Ignore environment variables
.env

# Ignore LaTeX build files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
